.features {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 15px 20px #ffa600;
}

.icon {
  font-size: 2rem;
  color: rgb(36, 36, 36);
}

.icon:hover {
  color: #ffa600;

}


@media screen and (min-width: 768px) {
  .features {
    gap: 4rem;
  }

  .feature {
    width: 200px;
    min-height: 200px;
  }


}